# Dependencies
node_modules/
*/node_modules/

# Build outputs
dist/
*/dist/
.next/
*/.next/
build/
*/build/

# Environment variables
.env
.env.*
!.env.example
!*/.env.example
*/.env
*/.env.*
apps/frontend/.env.staging
apps/backend/.env.local-e

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*/coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Deployment
.vercel
*/.vercel

# Prisma
*/prisma/migrations/*
!*/prisma/migrations/migration_lock.toml

# Temporary folders
tmp/
temp/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfstate.d/
*.tfplan
*.tfvars
!*.tfvars.example